body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    background: linear-gradient(to top, aqua, lightblue);
    font-family: varsity;
}
h1{
    margin-left: 17%;
    padding-right: 250px;
    font-family: Arial;
    font-size: 50px;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    border: solid;
}
.palavra{
    color: white;
    border-radius: 5px;
    border-style: groove;
    border-color: white;
    background-color: black;
    padding: 4px;
    width: fit-content;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    text-transform: lowercase;
}
.descricao{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: #000fff;
    text-transform: uppercase;
    
}
@font-face{
    font-family: varsity;
    src: url(./varsity_regular.ttf);
}
