body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    background: linear-gradient(to top, aqua, lightblue);
    font-family: varsity;
}
h1{
    margin-left: 12%;
    padding-right: 250px;
    font-family: Arial;
    font-size: 50px;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    border: solid;
}
.palavra{
    color: white;
    border-radius: 5px;
    border-style: groove;
    border-color: white;
    background-color: black;
    padding: 4px;
    width: fit-content;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    text-transform: lowercase;
}
.descricao{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: solid;
}
a{
    text-decoration: none;
    color: #000fff;
    text-transform: uppercase;
    
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 10%;
    font-family: varsity;
    text-transform: uppercase;
    padding: 8px;
    position: fixed;
  }
@font-face{
    font-family: varsity;
    src: url(./varsity_regular.ttf);
}

@media (max-width: 700px){
    h1{
        margin-left: 3%;
        font-size: 21px;
    }
    .palavra{
        margin-top: -65%;
    }
    .descricao{
        
    }
    #segundo{
        margin-bottom: 40%;
    }
}
